@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #afb1b48a;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f9f8f5;
}

::selection {
    background: #626161;
    color: #ffffff;
}

::-moz-selection {
    background: #e0e0e0;
    color: #334155;
}

@keyframes show-toast {
    0% {
        bottom: -100%
    }

    20% {
        bottom: 100px
    }

    80% {
        bottom: 100px
    }

    100% {
        bottom: -100%
    }
}

.show-notification {
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 5s;
    z-index: 99;
}